@using Azure.Core;
@using BusinessObject.DTOs;
@using BusinessObject.Models;
@using Microsoft.AspNetCore.Http
@inject DataAccess.IRipository.IProducts.IProduct product;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor ht
@{
    var cartJson = ht.HttpContext.Request.Cookies["Cart"];
    var itemCount = 0;
    decimal cartTotal = 0;
    List<CartItem> cart = new List<CartItem>();
    if (!string.IsNullOrEmpty(cartJson))
    {
        cart = Newtonsoft.Json.JsonConvert.DeserializeObject<List<CartItem>>(cartJson);
        itemCount = cart.Count;
        cartTotal = (decimal)cart.Sum(item => item.Price * item.Quantity);

    }
    List<ProductDTO> list;
    list = await product.GetAllProduct();
    

}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - BookSellingApp</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">


    
    <!-- Favicons -->
    <link rel="shortcut icon" href="~/img/favicon.ico" asp-append-version="true">
    <!-- Fontawesome css -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css" asp-append-version="true">
    <!-- Ionicons css -->
    <link rel="stylesheet" href="~/css/ionicons.min.css" asp-append-version="true">
    <!-- linearicons css -->
    <link rel="stylesheet" href="~/css/linearicons.css" asp-append-version="true">
    <!-- Nice select css -->
    <link rel="stylesheet" href="~/css/nice-select.css" asp-append-version="true">
    <!-- Jquery fancybox css -->
    <link rel="stylesheet" href="~/css/jquery.fancybox.css" asp-append-version="true">
    <!-- Jquery ui price slider css -->
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" asp-append-version="true">
    <!-- Meanmenu css -->
    <link rel="stylesheet" href="~/css/meanmenu.min.css" asp-append-version="true">
    <!-- Nivo slider css -->
    <link rel="stylesheet" href="~/css/nivo-slider.css" asp-append-version="true">
    <!-- Owl carousel css -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" asp-append-version="true">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true">
    <!-- Custom css -->
    <link rel="stylesheet" href="~/css/default.css" asp-append-version="true">
    <!-- Main css -->
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
    <!-- Responsive css -->
    <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true">

    <!-- Modernizer js -->
    <script src="~/js/vendor/modernizr-3.5.0.min.js"></script>
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <style>
    .logo {
        width: 200px;
        height: 150px; /* Giữ tỷ lệ ảnh */
    }
    .cart-icon {
    position: relative;
    display: inline-block;
}

.lnr.lnr-cart {
    font-size: 30px; /* Điều chỉnh kích thước icon nếu cần */
    position: relative;
}

.my-cart {
    position: absolute;
    top: -6px; /* Đưa lên trên */
    right: -25px; /* Đưa sang phải */
    color: white; /* Màu chữ */
    font-size: 1px;
    font-weight: bold;
    padding: 3px 6px;
    border-radius: 80%; /* Làm tròn */
    min-width: 5px; /* Kích thước tối thiểu */
    text-align: center;
    line-height: 0;
}

.total-pro {
    display: right; /* Đảm bảo căn giữa */
}
.bi {
    font-size: 44px; /* Tăng kích thước icon */
    vertical-align: middle; /* Căn chỉnh icon với văn bản */
    margin-right: 10px; /* Khoảng cách giữa icon và chữ */
}


.bi-person-circle, .bi-person-plus {
    font-size: 100px; /* Phóng to thêm cho các icon Login và Register */
}

</style>

</head>
<body>
    <div class="wrapper">
        <!-- Main Header Area Start Here -->
        <header>
            <!-- Header Top Start Here -->
            <div class="header-top-area">
                <div class="container">
                    <!-- Header Top Start -->
                    <div class="header-top">
                        <ul >
                        </ul>
                        <ul>
                            <li>
                                <span>Language</span> <a href="#">English<i class="lnr lnr-chevron-down"></i></a>
                                <!-- Dropdown Start -->
                                <ul class="ht-dropdown">
                                    <li><a href="#"><img src="img\header\1.jpg" alt="language-selector">English</a></li>
                                    <li><a href="#"><img src="img\header\2.jpg" alt="language-selector">Francis</a></li>
                                </ul>
                                <!-- Dropdown End -->
                            </li>
                            <li>
                                <!-- Dropdown End -->
                            </li>
                            <li>
                                <a href="#">My Account<i class="lnr lnr-chevron-down"></i></a>
                                <!-- Dropdown Start -->
                                <ul class="ht-dropdown">
                                    @if (ht.HttpContext.Session.GetString("UserName") != null)
                                    {
                                        <li><a asp-page="/Profile/Index">Profile</a></li>
                                        <li><a asp-page="/Login/Login">
                                        <i class="bi-person-circle">

                                        </i>Logout</a></li>
                                    }else{
                                        <li><a asp-page="/Login/Login">
                                        <i class="bi bi-person-circle">
                                        </i>Login</a></li>
                                        <li><a asp-page="/Login/Register">
                                        <i class="bi bi-person-plus">
                                        </i>Register</a></li>
                                    }
                                </ul>
                                <!-- Dropdown End -->
                            </li>
                        </ul>
                    </div>
                    <!-- Header Top End -->
                </div>
                <!-- Container End -->
            </div>
            <!-- Header Top End Here -->
            <!-- Header Middle Start Here -->
            <div class="header-middle ptb-15">
                <div class="container">
                    <div class="row align-items-center no-gutters">
                        <div class="col-lg-3 col-md-12">
                            <div class="logo mb-all-30">
                                <a href="/Index"><img src="img\logo\booknest2.png" alt="logo-image" class="logo"></a>
                            </div>
                        </div>
                        <!-- Categorie Search Box Start Here -->
                        <div class="col-lg-5 col-md-8 ml-auto mr-auto col-10">
                            <div class="categorie-search-box">
                                <form method="get" action="/Products">
                                    <input type="text" name="searchTerm" placeholder="Type for searching...">
                                    <button><i class="lnr lnr-magnifier"></i></button>
                                </form>
                            </div>
                        </div>
                        <!-- Categorie Search Box End Here -->
                        <!-- Cart Box Start Here -->
                        <div class="col-lg-4 col-md-12">
                            <div class="cart-box mt-all-30">
                                <ul class="d-flex justify-content-lg-end justify-content-center align-items-center">
                                    <li>
                                        <a href="#" class="cart-icon">
                                            <i class="lnr lnr-cart"></i>
                                            <span class="my-cart">
                                                <span class="total-pro">@itemCount</span>
                                            </span>
                                        </a>
                                        <ul class="ht-dropdown cart-box-width">
                                            <li>
                                                <!-- Cart Box Start -->
                                                @foreach(var item in cart)
                                                {
                                                    <div class="single-cart-box">
                                                        <div class="cart-img">
                                                            @foreach(var img in list)
                                                            {
                                                                @if(item.ProductId == img.Id)
                                                                {
                                                                    @if (img.Image.Length > 0)
                                                                    {
                                                                        <a><img src="data:image/png;base64,@Convert.ToBase64String(img.Image)" alt="cart-image"></a>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a href="#"><img src="" alt="cart-image"></a>
                                                                    }
                                                                }
                                                            }
                                                            <span class="pro-quantity">@item.Quantity</span>
                                                        </div>
                                                        <div class="cart-content">
                                                            <h6><a >@item.ProductName </a></h6>
                                                            <span class="cart-price">@item.Price</span>
                                                        </div>
                                                        <a class="del-icone" asp-page="/Cart/Index"><i class="ion-close"></i></a>
                                                    </div>
                                                }
                                                
                                                <!-- Cart Box End -->
                                                
                                                <!-- Cart Footer Inner Start -->
                                                <div class="cart-footer">
                                                    <ul class="price-content">
                                                       
                                                        <li>Total <span>@cartTotal</span></li>
                                                    </ul>
                                                    <div class="cart-actions text-center">
                                                        <a class="cart-checkout" asp-page="/Cart/Index">Checkout</a>
                                                    </div>
                                                </div>
                                                <!-- Cart Footer Inner End -->
                                            </li>
                                        </ul>
                                        
                                    </li>
                                    
                                    <li>
                                        @if (ht.HttpContext.Session.GetString("UserName") != null)
                                        {
                                            <li>
                                                <a asp-page="Profile/Account">
                                                    <i class="bi bi-person-circle"></i> @ht.HttpContext.Session.GetString("UserName") 
                                                    <i class="bi bi-three-dots-vertical"></i> <!-- Icon menu -->
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <a asp-page="/Login/Login">
                                                    <i class="bi bi-person"></i> 
                                                </a>
                                            </li>
                                            <li>
                                                <a asp-page="/Login/Register">
                                                    <i class="bi bi-person-plus"></i> 
                                                </a>
                                            </li>
                                        }
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <!-- Cart Box End Here -->
                    </div>
                    <!-- Row End -->
                </div>
                <!-- Container End -->
            </div>
            <!-- Header Middle End Here -->
           
            <!-- Categorie Menu & Slider Area End Here -->
            <!-- Header Bottom Start Here -->
            <div class="header-bottom  header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                       
                        <div class="col-xl-9 col-lg-8 col-md-12 ">
                            <nav class="d-none d-lg-block">
                                <ul class="header-bottom-list d-flex">
                                    <li class="active">
                                        <a href="/Index">home<i class="fa fa-angle-down"></i></a>
                                       @*  <!-- Home Version Dropdown Start -->
                                        <ul class="ht-dropdown">
                                            <li><a href="index.html">Home Version 1</a></li>
                                            <li><a href="index-2.html">Home Version 2</a></li>
                                            <li><a href="index-3.html">Home Version 3</a></li>
                                            <li><a href="index-4.html">Home Version 4</a></li>
                                        </ul>
                                        <!-- Home Version Dropdown End --> *@
                                    </li>
                                    <li>
                                        <a href="/Products">shop<i class="fa fa-angle-down"></i></a>
                                      
                                    </li>
                                    
                                </ul>
                            </nav>
                            <div class="mobile-menu d-block d-lg-none">
                                <nav>
                                    <ul>
                                        
                                        <li>
                                            <a href="blog.html">Blog</a>
                                            <!-- Mobile Menu Dropdown Start -->
                                            <ul>
                                                <li><a href="single-blog.html">blog details</a></li>
                                            </ul>
                                            <!-- Mobile Menu Dropdown End -->
                                        </li>
                                        <li>
                                            <a href="#">pages</a>
                                            <!-- Mobile Menu Dropdown Start -->
                                            <ul>
                                                <li><a href="register.html">register</a></li>
                                                <li><a href="login.html">sign in</a></li>
                                                <li><a href="forgot-password.html">forgot password</a></li>
                                                <li><a href="404.html">404</a></li>
                                            </ul>
                                            <!-- Mobile Menu Dropdown End -->
                                        </li>
                                        <li><a href="about.html">about us</a></li>
                                        <li><a href="contact.html">contact us</a></li>
                                    </ul>
                                    
                                </nav>
                            </div>

                           
                        </div>


                    </div>
                    <!-- Row End -->
                   
                </div>
                <!-- Container End -->
            </div>
            
                <!-- Header Bottom End Here -->
         
       @*  <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div> *@
        @RenderBody()
            <!-- Footer Area Start Here -->
            <footer class="off-white-bg2 pt-95 bdr-top pt-sm-55">
                <!-- Footer Top Start -->
                <div class="footer-top">
                    <div class="container">
                       
                        <div class="row">
                            <!-- Single Footer Start -->
                            <div class="col-lg-2 col-md-4 col-sm-6">
                                <div class="single-footer mb-sm-40">
                                    <h3 class="footer-title">Information</h3>
                                    <div class="footer-content">
                                        <ul class="footer-list">
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="#">Delivery Information</a></li>
                                            <li><a href="#">Privacy Policy</a></li>
                                            <li><a href="contact.html">Terms & Conditions</a></li>
                                            <li><a href="login.html">FAQs</a></li>
                                            <li><a href="login.html">Return Policy</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Footer Start -->
                            <!-- Single Footer Start -->
                            <div class="col-lg-2 col-md-4 col-sm-6">
                                <div class="single-footer mb-sm-40">
                                    <h3 class="footer-title">Customer Service</h3>
                                    <div class="footer-content">
                                        <ul class="footer-list">
                                            <li><a href="contact.html">Contact Us</a></li>
                                            <li><a href="#">Returns</a></li>
                                            <li><a href="#">Order History</a></li>
                                            <li><a href="wishlist.html">Wish List</a></li>
                                            <li><a href="#">Site Map</a></li>
                                            <li><a href="#">Gift Certificates</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Footer Start -->
                            <!-- Single Footer Start -->
                            <div class="col-lg-2 col-md-4 col-sm-6">
                                <div class="single-footer mb-sm-40">
                                    <h3 class="footer-title">Extras</h3>
                                    <div class="footer-content">
                                        <ul class="footer-list">
                                            <li><a href="#">Newsletter</a></li>
                                            <li><a href="#">Brands</a></li>
                                            <li><a href="#">Gift Certificates</a></li>
                                            <li><a href="#">Affiliate</a></li>
                                            <li><a href="#">Specials</a></li>
                                            <li><a href="#">Site Map</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Footer Start -->
                            <!-- Single Footer Start -->
                            <div class="col-lg-2 col-md-4 col-sm-6">
                                <div class="single-footer mb-sm-40">
                                    <h3 class="footer-title">My Account</h3>
                                    <div class="footer-content">
                                        <ul class="footer-list">
                                            <li><a href="contact.html">Contact Us</a></li>
                                            <li><a href="#">Returns</a></li>
                                            <li><a href="#">My Account</a></li>
                                            <li><a href="#">Order History</a></li>
                                            <li><a href="wishlist.html">Wish List</a></li>
                                            <li><a href="#">Newsletter</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Footer Start -->
                            <!-- Single Footer Start -->
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="single-footer mb-sm-40">
                                    <h3 class="footer-title">My Account</h3>
                                    <div class="footer-content">
                                        <ul class="footer-list address-content">
                                            <li><i class="lnr lnr-map-marker"></i> Address: 169-C, Technohub, Dubai Silicon Oasis.</li>
                                            <li><i class="lnr lnr-envelope"></i><a href="#"> mail Us: Support@truemart.com </a></li>
                                            <li>
                                                <i class="lnr lnr-phone-handset"></i> Phone: (+800) 123 456 789)
                                            </li>
                                        </ul>
                                        <div class="payment mt-25 bdr-top pt-30">
                                            <a href="#"><img class="img" src="img\payment\1.png" alt="payment-image"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Footer Start -->
                        </div>
                        <!-- Row End -->
                    </div>
                    <!-- Container End -->
                </div>
                <!-- Footer Top End -->
                <!-- Footer Middle Start -->
                <div class="footer-middle text-center">
                    <div class="container">
                        <div class="footer-middle-content pt-20 pb-30">
                            <ul class="social-footer">
                                <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><img src="img\icon\social-img1.png" alt="google play"></a></li>
                                <li><a href="#"><img src="img\icon\social-img2.png" alt="app store"></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Container End -->
                </div>
                <!-- Footer Middle End -->
                <!-- Footer Bottom Start -->
                <div class="footer-bottom pb-30">
                    <div class="container">

                        <div class="copyright-text text-center">
                            <p>Copyright © 2018 <a target="_blank" href="#">Truemart</a> All Rights Reserved.</p>
                        </div>
                    </div>
                    <!-- Container End -->
                </div>
                <!-- Footer Bottom End -->
            </footer>
            <!-- Footer Area End Here -->
            <!-- Quick View Content Start -->
            <div class="main-product-thumbnail quick-thumb-content">
                <div class="container">
                    <!-- The Modal -->
                    <div class="modal fade" id="myModal">
                        <div class="modal-dialog modal-lg modal-dialog-centered">
                            <div class="modal-content">
                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <!-- Modal body -->
                                
                                <div class="modal-body">
                                    <div class="row">
                                        <!-- Main Thumbnail Image Start -->
                                        <div class="col-lg-5 col-md-6 col-sm-5">
                                            <!-- Thumbnail Large Image start -->
                                            <div class="tab-content">
                                                <div id="thumb1" class="tab-pane fade show active">
                                                    <a data-fancybox="images" href="img\products\35.jpg"><img src="img\products\35.jpg" alt="product-view"></a>
                                                </div>
                                                <div id="thumb2" class="tab-pane fade">
                                                    <a data-fancybox="images" href="img\products\13.jpg"><img src="img\products\13.jpg" alt="product-view"></a>
                                                </div>
                                                <div id="thumb3" class="tab-pane fade">
                                                    <a data-fancybox="images" href="img\products\15.jpg"><img src="img\products\15.jpg" alt="product-view"></a>
                                                </div>
                                                <div id="thumb4" class="tab-pane fade">
                                                    <a data-fancybox="images" href="img\products\4.jpg"><img src="img\products\4.jpg" alt="product-view"></a>
                                                </div>
                                                <div id="thumb5" class="tab-pane fade">
                                                    <a data-fancybox="images" href="img\products\5.jpg"><img src="img\products\5.jpg" alt="product-view"></a>
                                                </div>
                                            </div>
                                            <!-- Thumbnail Large Image End -->
                                            <!-- Thumbnail Image End -->
                                            <div class="product-thumbnail mt-20">
                                                <div class="thumb-menu owl-carousel nav tabs-area" role="tablist">
                                                    <a class="active" data-toggle="tab" href="#thumb1"><img src="img\products\35.jpg" alt="product-thumbnail"></a>
                                                    <a data-toggle="tab" href="#thumb2"><img src="img\products\13.jpg" alt="product-thumbnail"></a>
                                                    <a data-toggle="tab" href="#thumb3"><img src="img\products\15.jpg" alt="product-thumbnail"></a>
                                                    <a data-toggle="tab" href="#thumb4"><img src="img\products\4.jpg" alt="product-thumbnail"></a>
                                                    <a data-toggle="tab" href="#thumb5"><img src="img\products\5.jpg" alt="product-thumbnail"></a>
                                                </div>
                                            </div>
                                            <!-- Thumbnail image end -->
                                        </div>
                                        <!-- Main Thumbnail Image End -->
                                        <!-- Thumbnail Description Start -->
                                        <div class="col-lg-7 col-md-6 col-sm-7">
                                            <div class="thubnail-desc fix mt-sm-40">
                                                <h3 class="product-header">Printed Summer Dress</h3>
                                                <div class="pro-price mtb-30">
                                                    <p class="d-flex align-items-center"><span class="prev-price">16.51</span><span class="price">$15.19</span><span class="saving-price">save 8%</span></p>
                                                </div>
                                                <p class="mb-20 pro-desc-details">Long printed dress with thin adjustable straps. V-neckline and wiring under the bust with ruffles at the bottom of the dress.</p>
                                                <div class="product-size mb-20 clearfix">
                                                    <label>Size</label>
                                                    <select class="">
                                                        <option>S</option>
                                                        <option>M</option>
                                                        <option>L</option>
                                                    </select>
                                                </div>
                                                <div class="color mb-20">
                                                    <label>color</label>
                                                    <ul class="color-list">
                                                        <li>
                                                            <a class="orange active" href="#"></a>
                                                        </li>
                                                        <li>
                                                            <a class="paste" href="#"></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="box-quantity d-flex">
                                                    <form action="#">
                                                        <input class="quantity mr-40" type="number" min="1" value="1">
                                                    </form>
                                                    <a class="add-cart" href="cart.html">add to cart</a>
                                                </div>
                                                <div class="pro-ref mt-15">
                                                    <p><span class="in-stock"><i class="ion-checkmark-round"></i> IN STOCK</span></p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Thumbnail Description End -->
                                    </div>
                                </div>
                                <!-- Modal footer -->
                                <div class="custom-footer">
                                    <div class="socila-sharing">
                                        <ul class="d-flex">
                                            <li>share</li>
                                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus-official" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Quick View Content End -->
    </div>

   @* ** *@

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <!-- jquery 3.2.1 -->
    <script src="~/js/vendor/jquery-3.2.1.min.js"></script>
    <!-- Countdown js -->
    <script src="~/js/jquery.countdown.min.js"></script>
    <!-- Mobile menu js -->
    <script src="~/js/jquery.meanmenu.min.js"></script>
    <!-- ScrollUp js -->
    <script src="~/js/jquery.scrollUp.js"></script>
    <!-- Nivo slider js -->
    <script src="~/js/jquery.nivo.slider.js"></script>
    <!-- Fancybox js -->
    <script src="~/js/jquery.fancybox.min.js"></script>
    <!-- Jquery nice select js -->
    <script src="~/js/jquery.nice-select.min.js"></script>
    <!-- Jquery ui price slider js -->
    <script src="~/js/jquery-ui.min.js"></script>
    <!-- Owl carousel -->
    <script src="~/js/owl.carousel.min.js"></script>
    <!-- Bootstrap popper js -->
    <script src="~/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Plugin js -->
    <script src="~/js/plugins.js"></script>
    <!-- Main activaion js -->
    <script src="~/js/main.js"></script>
    @* ** *@
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
   @*  <script src="~/js/site.js" asp-append-version="true"></script> *@

    @await RenderSectionAsync("Scripts", required: false)
</body>
<script>
    $(document).ready(function () {
    // Xóa sản phẩm khỏi giỏ hàng và cập nhật tổng tiền
    $(document).on("click", ".remove-from-cart", function (e) {
        e.preventDefault();
        var productId = $(this).data("product-id");
        var token = $('input[name="__RequestVerificationToken"]').val();
        var button = $(this);

        $.ajax({
            url: "/Cart?handler=RemoveFromCart",
            type: "POST",
            data: { productId: productId, __RequestVerificationToken: token },
            success: function () {
                button.closest("tr").remove();
                toastr.success("Removed from cart successfully.");
                updateCartTotal();
                updateCartCount();
            },
            error: function (error) {
                console.error("Error removing product: " + error.responseText);
            }
        });
    });

    // Cập nhật số lượng khi thay đổi input
    $(document).on("change", ".quantity-input", function () {
        updateQuantity($(this));
    });

    // Giảm số lượng sản phẩm
    $(document).on("click", ".quantity-decrease", function (e) {
        e.preventDefault();
        var input = $(this).siblings(".quantity-input");
        var currentValue = parseInt(input.val());

        if (currentValue > 1) {
            input.val(currentValue - 1);
            updateQuantity(input);
        }
    });

    // Tăng số lượng sản phẩm
    $(document).on("click", ".quantity-increase", function (e) {
        e.preventDefault();
        var input = $(this).siblings(".quantity-input");
        var currentValue = parseInt(input.val());
        input.val(currentValue + 1);
        updateQuantity(input);
    });

    // Hàm cập nhật số lượng không reload trang
    function updateQuantity(input) {
        var productId = input.data("product-id");
        var quantity = input.val();
        var token = $('input[name="__RequestVerificationToken"]').val();

        if (quantity < 1) {
            input.val(1);
            quantity = 1;
        }

        $.ajax({
            url: '/Cart?handler=UpdateFromCart',
            type: 'POST',
            data: { productId: productId, quantity: quantity, __RequestVerificationToken: token },
            success: function () {
                toastr.success("Cart updated successfully.");
                updateCartTotal();
                updateCartCount();
            },
            error: function () {
                console.log('Error updating product quantity.');
            }
        });
    }

    // Cập nhật tổng giá trị giỏ hàng
    function updateCartTotal() {
        var total = 0;
        $(".product-subtotal").each(function () {
            total += parseFloat($(this).text());
        });
        $(".order-total .amount").text(total.toFixed(2));
    }

    // Cập nhật số lượng sản phẩm trong giỏ hàng
    function updateCartCount() {
        var itemCount = $(".quantity-input").length;
        $(".total-pro").text(itemCount);
    }

    // Khi nhấn vào icon giỏ hàng, chuyển đến màn hình checkout
    $(document).on("click", ".cart-icon", function (e) {
        e.preventDefault();
        window.location.href = "/Cart";
    });
});

</script>
</html>
